<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
      <h1>Authentication <%- status == 200 ? "successful ✅" : "failed ❌" %></h1>
      <% if(err) { %>
      <p><%= err %></p>
      <% } else { %>
      <h2>Ola <%- user_info.user_name %> !</h2>
      <script>
        const ENV_HOST = location.protocol + '//' + location.host;
        console.log(ENV_HOST)
        let user_info = <%- JSON.stringify(user_info) %>;
        let token = "<%- token %>";
        localStorage.setItem('app_token', token);
        localStorage.setItem('user_info', JSON.stringify(user_info));
        window.location.replace(ENV_HOST);
      </script>
      <% } %>
    </center>
  </body>
</html>
